DATA_APP_POSTGRES__DSN="postgresql://postgres-user:postgres-password@postgres:5432/customers"
DATA_APP_BROKER__TOPIC_NAMES=["dbz.public.users","dbz.public.orders"]
DATA_APP_BROKER__BOOTSTRAP_SERVERS="kafka1:19092,kafka2:19093,kafka3:19094"
DATA_APP_BROKER__CONSUMER_GROUP_ID=data-reader
POSTGRES_USER=postgres-user
POSTGRES_PASSWORD=postgres-password
POSTGRES_DB=customers


